/* GLOBAL SETUP */

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* PAGE CONTAINERS */

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
